<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4Fekl6eFFlfomxLtZjGONo-KZG9Jfz2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1059061669548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.slideshow.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>slideshow-fd4a8</string>
	<key>STORAGE_BUCKET</key>
	<string>slideshow-fd4a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059061669548:ios:b820b2746ea47272504909</string>
</dict>
</plist>